<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*-->
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/bgn.css" />
    <!--*/-->
</head>
<body>
    <div th:fragment="footer">
        <div class="container">
            <div class="footer">
                <p class="text-muted text-center">&copy;2015 Machiel de Swijger-Asakura</p>
            </div>
        </div>
    </div>
</body>
</html>
