<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <!--/*-->
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bgn.css" />
    <!--*/-->
</head>
<body>
    <div th:fragment="header">
        <form name="logoutForm" th:action="@{/logout}" method="post" />

        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">BGN</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a th:href="@{/home}" href="#">Home</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}" href="#">Admin</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li sec:authorize="isAuthenticated()"><p class="navbar-text">Signed in as <a th:href="@{/profile}" href="#" sec:authentication="name">Machiel</a></p></li>
                        <li sec:authorize="isAnonymous()"><a th:href="@{/registration}" href="#">Registration</a></li>
                        <li sec:authorize="isAnonymous()"><a th:href="@{/login}" href="#">Login</a></li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="javascript: document.logoutForm.submit();">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
