<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">BoardGameNerd</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{css/bgn.css}" href="../../static/css/bgn.css" />
</head>
<body>
    <!-- Header -->
    <div th:replace="layout/header :: header">Static Header Template</div>

    <!-- Content -->
    <div layout:fragment="content">
        <div class="container">
            <div class="jumbotron">
                <h1>Static content for prototyping purposes only</h1>
                <p>Resize this responsive page to see the effect!</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="layout/footer :: footer">
        <div class="footer">
            <div class="container">
                <p class="text-muted text-center">&copy;2015 Static Footer Template</p>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.3/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>